* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne";
    /*safari, chrome e edge*/
    /*-webkit-appearance: none;*/
    /*mozila*/
    /*-moz-appearance: none;*/
}

html,
body {
    height: 100%;
}
